---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/pfp.jpeg"
>
	<p>
		If you've made it to this blog, you are headed in the right direction and I dont mean that
		just for this domain but every other field of work. Remember, building is the best form of learning!
	</p>

	<p>
		I am a passionate machine learning novice and blogger dedicated to demystifying the complexities of artificial intelligence for enthusiasts and aspiring professionals alike. With a background in computer science engineering, game development and data sceince, I spent over a year exploring the transformative power of machine learning technologies across various industries.
	</p>
</Layout>
