---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Saadat Muzaffar</h1>
			<p>
				Welcome to my official blog. This blog serves as a comprehensive resource hub for anyone interested in the rapidly evolving fields of machine learning and artificial intelligence (AI). It caters to beginners by providing a variety of small projects that encourage hands-on learning, allowing newcomers to gain practical experience and confidence in their skills. Each project is designed to be accessible, with clear instructions and resources to help users understand the concepts behind the technology.
			</p>
			
			<p>
				Have fun! If you get stuck, remember to visit my <a href="https://github.com/codemechie">Github</a>
				</a> or <a href="https://discord.com/invite/4caN3kva">join me on Discord</a> to ask questions.
			</p>
			<p>
				</a>Follow me on twitter <a href="https://twitter.com/Buckshot___">Saadat Muzaffar</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
